
/* Define the style for buttons */
button {
  font-size: 18px;
  border: none;
  /* background-color: #99E5EA; */
  background-color: #06748c;
  border: 0;
  padding: 10px 40px 10px 40px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

/* Define the style for buttons when they are hovered or pressed */
button:hover,
button:active {
  background-color: #06748c;
  border: 0;
  /* padding: 15px 25px 15px 25px; */
  /* border-radius: 8px; */
  cursor: pointer;
}

