.inputForm {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.inputForm label {
  text-align: left;
  display: block;
}
.inputForm h1 {
  padding: 15px 0px 0px 0px;
  text-align: left;
  margin: 0 auto;
  font-size: 1.5rem;
  color: #343741;
  margin-bottom: 30px;
}
.inputForm h2 {
  font-size: 2rem;
  color: #343741;
  margin-bottom: 30px;
}
.inputForm input,
.inputForm textarea,
.inputForm select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 0.9rem;
}

