.libertyLogo img {
  max-width: 20%;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 300px;
  margin: 0 auto;
  background-color: #ffd000;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.navbar h1 {
  color: #343741;
}
.navbar .links {
  margin-left: auto;
}
.navbar ul li {
  display: inline-block;
  list-style-type: none;
  font-weight:600;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  cursor: pointer;
}
.navbar a:hover {
  color: #343741;
  cursor: hand;
  text-decoration: underline;
}
.navbar .mr-2 {
  background-color: #ffd000;
  border-color: 3px solid #343741;
}
.navbar .navbar-toggler {
  border: 2px solid #343741;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* .navbar .navbar-toggler a:active  {
  border: 2px solid #343741;
} */
/* .navbar .mr-2 a:hover {
  background-color: aquamarine;
  border-color: #343741;
} */
