.updateForm {
  max-width: 500px;
  height: auto;
  margin: 0 auto;
  /* margin: 20px; */
  text-align: left;
  background-color: #F5F5F5;
  padding: 25px 0px 0px 0px;
}

.updateForm label {
  text-align: left;
  display: block;
  font-weight: 400;
}

.updateForm h1 {
  padding: 0px 0px 0px 0px;
  text-align: left;
  margin: 0 auto;
  font-size: 1.75rem;
  color: #343741;
  margin-bottom: 30px;
}

.updateForm h2 {
  font-size: 2rem;
  color: #343741;
  margin-bottom: 0px;
}

.updateForm input,
.updateForm select {
  width: 400px;
  height: 35px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 0.9rem;
  border-radius: 4px;
  text-transform: capitalize;
}

.updateForm textarea {
  width:400px;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: 0.9rem;
  border-radius: 4px;
}

.updateForm input:focus,
.updateForm input:focus-visible,
.updateForm select:focus,
.updateForm textarea:focus {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 2px solid #06748c;
  box-sizing: border-box;
  display: block;
  font-size: 0.9rem;
  border-radius: 4px;
  outline: none;
  width:400px;
}

