/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
  color: #333;
}

::-webkit-scrollbar { 
  display:none; 
}

/* Scroll Snap */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

section {
  height: 100vh;
  scroll-snap-align: center;
}

.navbar-toggler, .navbar-toggler:focus {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 100%;
  max-height: 30px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
  background-color: #ffd000;
  align-items: center;
  justify-content: center;
}
.navbar h1 {
  color: #343741;
}
.navbar .links {
  margin-left: auto;
  
}
.navbar ul li {
  display: inline-block;
  list-style-type: none;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #343741;
  cursor: hand;
  text-decoration: underline;
}
/* .content {
  max-width: 600px;
  color: #343741;
  margin: 40px auto;
  padding: 20px;
} */
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 2rem;
  color: #343741;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  font-size: .90rem;
}
/* .create button {
  background: #06748C;
  color: #fff;
  border: 0;
  padding: 15px 25px 15px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
}*/
