.libertyLogo img {
  max-width: 20%;
  height: auto;
}

/* #mr-foobar {
  color: #ffffff;
  background-color: #333;
  border-color: #ffffff;
  

}


#mr-foobar a:hover{
  color: #ffffff;
  background-color: aqua;
  
} */