    /* Default height for small devices */
    #intro-example {
      height: 100px;
      height: 100px;
    }

    /* Height for devices larger than 992px */
    @media (min-width: 992px) {
      #intro-example {
        height: 100px;
      }
    }